@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --border_rad: 10px;
    --back-rad: 15px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(226, 43%, 10%);
    font-family: Rubik;
}
.cards{
    display: grid;
    width: 1096px;
    height: 532px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-areas: 
    "p a b c"
    "p d e f";
    gap: 2em;
    
}
.profile_Card{
    grid-area: p;
    border-radius: 20px;
}
.info_card{
    position: relative;
    height: 370px;
    background-color: hsl(235, 45%, 61%);
    border-radius: var(--border_rad);
    z-index: 21;
}
.menu{
    position: absolute;
    background-color: hsl(235, 46%, 20%);
    margin-top: -70px;
    height: 232px;
    width: 250px;
    z-index: 2;
    border-radius: var(--border_rad);
    
}
.card1{
    grid-area: a;
}
.background1, .background2, .background3, .background4,
.background5, .background6{
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 2;
    border-radius: var(--back-rad);
    overflow: hidden;
}

.front{
    position: absolute;
    z-index: 5;
    color: white;
    width: 250px;
    height: 205px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 45px;
    border-radius: var(--border_rad);
}
.image{
    position: relative;
    left: 65%;
    top: -1%;
    width: 70px;
}
.title{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    gap: 2em;
}
.card_title{
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
}
.card_title1{
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
}
.menu_icon{
    height: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.hours{
    display: flex;
    width: 115px;
    position: absolute;
    top: 34%;
    left: 13%;
}
.hrs{
    font-weight: 300;
    font-size: 3.5rem;
    left: 14%;
    top: 35%;
    margin-left: 0.15em;
}
.bottomHour{
    margin-left: 7px;
    color: #bdc1ff85;
}
.time{
    font-weight: 300;
    font-size: 3.5rem;
    left: 14%;
    top: 35%;
}
.bottomText{
    display: flex;
    position: absolute;
    top: 70%;
    left: 14%;
}
.last_w{
    font-weight: 200;
    left: 15%;
    top: 70%;
    color: #bdc1ff85;
}
.bottomHrs{
    margin-left: 7px;
    color: #bdc1ff85;
}
.moving{
    margin-left: 9px;
}
.card2{
    grid-area: b;
}
.card3{
    grid-area: c;
}
.card4{
    grid-area: d;
}
.card5{
    grid-area: e;
}
.card6{
    grid-area: f;
}
.background1{
    background-color: hsl(15, 100%, 70%);
}
.background2{
    background-color: hsl(195, 74%, 62%);
}
.background3{
    background-color: hsl(348, 100%, 68%);
}
.background4{
    background-color: hsl(145, 58%, 55%);
}
.background5{
    background-color: hsl(264, 64%, 52%);
}
.background6{
    background-color: hsl(43, 84%, 65%);
}
.jeremy{
    width: 75px;
    position: relative;
    left: 14%;
    top: 10%;
    border: solid 4px white;
    border-radius: 50%;
}
h3{
    position: relative;
    left: 14%;
    top: 24%;
    font-weight: 400;
    font-size: 1.1rem;
    color: hsl(236, 100%, 87%);
}
.name{
    width: 120px;
    font-size: 2.3rem;
    font-weight: 300;
    position: relative;
    left: 14%;
    top: 25%;
    color: white;
}
ul{
    position: relative;
    top: 37%;
    left: 14%;
    text-decoration: none;
    list-style-type: none;
}
li{
    text-decoration: none;
    margin: 0.9em 0 0.9em 0;
    font-size: 1.15rem;
}
a{
    text-decoration: none;
    color: hsl(235, 45%, 61%);
}
@media screen and (max-width:1300px){
    body{
        overflow-x: hidden;
    }
    .cards{
        margin-top: 40em;
        display:grid;
        width: 400px;
        height: 1900px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "p"
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
    }
    .card2,.card3,.card4,.card5,.card6{
        margin-top: -10em;
    }
    .card1,.card2,.card3,.card4,.card5,.card6{
        margin-bottom: 10em;
    }
    .front,.background1,.background2,.background3,.background4,.background5,.background6{
        width: 400px;
    }
    .background1,.background2,.background3,.background4,.background5,.background6{
        height: 200px;
    }
    .info_card{
        display: flex;
        height: 150px;
    }
    .jeremy{
        width: 60px;
        height: 60px;
        top: 26%;
        left: 10%;
    }
    .name{
        position: absolute;
        top: 43%;
        left: 34%;
        width: 300px;
        font-size: 2rem;
    }
    h3{
        position: relative;
        width: 200px;
        left: 17%;
        top: 29%;
    }
    .menu{
        margin-top: -1.8em;
        height: 100px;
        width: 400px;
    }
    ul{
        display: flex;
        justify-content: space-around;
        width: 400px;
        margin-left: -3.44em;
    }
    .front{
        height: 170px;
    }
    .profile_Card{
        margin-bottom: -15em;
        width: 400px
    }
    .card_title,.card_title1{
        position: absolute;
        left: 10%;
        top: 20%;
        font-size: 1.5rem;
    }
    .moving{
        margin-left: 0em;
    }
    .menu_icon{
        position: absolute;
        left: 84%;
        top: 22%;
    }
    .hours{
        position: absolute;
        left: 9%;
        top: 45%;
    }
    .bottomText{
        position: absolute;
        left: 60%;
        top: 62%;
    }
}